.navbar {
  width: 100%;
  height: 80px;
  top: 0;
  position: fixed;
  padding: 0 12.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;

  transition: background-color 0.4s ease-in-out;
  z-index: 100;
  @media (max-width: 500px) {
    width: 100vw;
    padding: 0 20px;
    margin: 0;
  }
}

.navbar-scrolled {
  background-color: #0f051d;
}

.navbar > h1 {
  font-size: 2.5rem;
}

.nav-items > a {
  text-decoration: none;
  color: white;
  margin-left: 1.375rem;
  margin-right: 1.375rem;
  font-size: 1.438rem;
}
.nav-items > a:hover {
  background-image: linear-gradient(25deg, #2600fc, #ff00ea);
  background-clip: text;
  color: transparent;
  transition: all 0.3s;
}

.nav-socialMedia {
  width: 5rem;
  @media (max-width: 500px) {
    text-align: right;
  }
}

@media (max-width: 500px) {
  .nav-items {
    display: none;
  }
}
